<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateCart', (cartId, updatedCart) => {
            console.log(`Carrito actualizado: ${cartId}`, updatedCart);
        });
    </script>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
</body>
</html>



